@{
    ViewData["Title"] = "Confirm Donation";
}

<div class="row">
    <div class="col-md-10 mx-auto">
        <div class="card">
            <div class="card-header bg-info text-white">
                <h5 class="text-uppercase text-center">Confirm Donation</h5>
            </div>
            <div class="card-body">
                <div class="col-md-12 mb-3">
                    <iframe src="@ViewData["PesapalUrl"]" width="100%" height="620px" frameborder="0" scrolling="auto" />

                </div>
            </div>
        </div>
    </div>
</div>
